@font-face {
  font-family: "SBSansText";
  font-weight: 400;
  src: local("SBSansText"),
  url("../fonts/SBSansText.ttf") format("truetype");
}

@font-face {
  font-family: "SBSansDisplaySemibold";
  font-weight: 600;
  src: local("SBSansDisplaySemibold"),
  url("../fonts/SBSansDisplaySemibold.ttf") format("truetype");
}

