//Fonts
$font-text: 'SBSansText', sans-serif;
$font-display: 'SBSansDisplaySemibold', sans-serif;

//Colors
$color-primary-white: #FFF;
$color-primary-black: #000;
$color-primary-gray: #EEEEEE;
$color-primary-green: #00AA47;
$color-primary-blue: #0087CD;
$color-primary-orange: #FF8000;

$color-accent-error: #c00;

$color-secondary-white: #F2F2F2;

//Breakpoints
$minWidth: 320px;
$maxWidthContainer: 1220px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
/*--------------------*/